<{View(common/header.html)}>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1>rr cms - rrdev.ru ® llc</h1>
            <p class="lead">Система управления взаимо<wbr>отношениями человека с прикладным программном обеспечением для ЭВМ, предназначенное для взаимодействия с человеком, и сохранения информации о проделанной работе...</p>

        </div>

    </div>

</main>


<!--<{View(common/footer.html)}>-->