<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


</style>


<header class="site-header sticky-top py-1">
    <nav class="container-fluid d-flex flex-column flex-md-row">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Выйти</a>
            </li>
        </ul>
    </nav>
</header>
<main class="container-fluid d-flex justify-content-center align-items-center" >
<{ userContent }>

</main>