<!DOCTYPE html>
<html lang="ru">
    <head>
        <title><{ title }></title>
        <meta name="keywords" content="<{ keywords }>">
        <meta name="description" content="<{ description }>">
        <meta name="author" content="<{ author }>">
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="/js/libs/luxon/luxon.min.js"></script>
        <script src="/js/libs/lodash/lodash.min.js"></script>
        

        
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <!--<link rel="stylesheet" href="/css/bootstrap/mdb.min.css">-->
        
        <link href="/fontawesome/css/all.min.css" rel="stylesheet">
        
        <style>html, body {height: 100%;}</style>
        <{ headcssjs }>
        <script src="/js/libs/vue/vue.global.prod.js"></script>
    </head>
    <body>
        <{ mainbody }>
        
        <script src="/js/libs/bootstrap/bootstrap.min.js"></script>
        <script src="/js/libs/bootstrap/bootstrap.bundle.min.js"></script>
        <{ bodycssjs }>
    </body>
</html>
